
.fa-facebook-f{
    background-color: #3E68C0;
    color: white;
    padding: 11px 16px 11px 15px;

}
.fa-twitter{
    background-color: #23ABFF;
    color: white;
    padding: 11px 11px 11px 13px;
}
.fa-linkedin-in{
    background-color: #1686B0;
    color: white;
    padding: 11px 12px 11px 12px;

}
.fa-youtube{
    background-color: #F63329;
    color: white;
    padding: 11px 11px 11px 11px;

}